
# Temporary
demo/parallel/*
demo/embedding/*

# Ignore these tags
**/safe_*
**/new_*

# Compiled
**/*.bin
demo/extending/build

# Backups
demo/back/*
demo/termux-sync/*

# Misc
demo/.vagrant/*
libssh/*


# Old project
old/**/*_pk
old/**/*.pub
old/**/openssl_checker_file
old/**/key-priv.txt
