
# Client extra files
client/*.pub
client/key-priv.txt
client/server_pk
client/*.bin
client/*.c~
client/openssl_checker_file
client/client

# Server extra files
server/*.pub
server/key-priv.txt
server/server_pk
server/*.bin
server/*.c~
server/openssl_checker_file
server/server